@import "../styles/global.scss";

h1,
h2 {
  -webkit-text-stroke: 1.5px;
}

.about-wrapper {
  font-family: "Inter", sans-serif;
  padding: 0 10%;

  .skills-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .resume-btn {
    background-color: #242222;
    border: none;
    border-radius: 50px;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem;
    margin-left: 50%;
    transform: translate(-50%);

    &:hover {
      cursor: pointer;
    }
  }
}
