.nav-wrapper {
  margin-top: 1rem;

  .nav-items-wrapper {
    display: flex;

    a {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }

    .nav-button {
      border-radius: 100px;
      display: inline-block;
      text-align: center;
      padding: 8px 16px;
      position: relative;
      width: 60px;
    }
  }
}

// === MENU ANIMATIONS === //
// main nav button
.main-nav-open {
  animation: opens 1s forwards;
  background-color: #212529;
  width: 42px;
  z-index: 104;
}

@keyframes opens {
  0% {
    width: 20px;
  }
  100% {
    width: 60px;
  }
}

.main-nav-closed {
  animation: closes 1s forwards;
  background-color: #212529;
  z-index: 104;
}

@keyframes closes {
  0% {
    width: 60px;
  }
  100% {
    width: 20px;
  }
}

// first nav button
.main-nav-first {
  background-color: #343a40;
  transform: translateX(-80px);
  z-index: 103;
}

.closed-f {
  animation: cf 1s forwards;
}

@keyframes cf {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-80px);
  }
}

// second nav button
.main-nav-second {
  background-color: #495057;
  transform: translateX(-160px);
  z-index: 102;
}

.closed-s {
  animation: cs 1s forwards;
}

@keyframes cs {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-160px);
  }
}

// third nav button
.main-nav-third {
  background-color: #6c757d;
  transform: translateX(-240px);
  z-index: 101;
}

.closed-t {
  animation: ct 1s forwards;
}

@keyframes ct {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-240px);
  }
}

// opening menu animation
.opened {
  animation: navOpen 1s forwards;
}

@keyframes navOpen {
  100% {
    transform: translateX(0px);
  }
}
