@import "../styles/global.scss";

.landing-info {
  font-family: "Inter", sans-serif;
  padding: 10% 10% 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;

  .landing-left-section {
    @media only screen and (min-width: 1024px) {
      // padding-top: 45%;
      // transform: translateY(-30%);
      position: absolute;
      top: 45%;
      width: 30%;
    }
  }
}

.logo {
  @include link-style();
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  z-index: 1;

  .firstName,
  .lastName {
    font-size: 18px;
    font-weight: 800;
    -webkit-text-stroke: 1px;

    @media only screen and (min-width: 1024px) {
      font-size: 24px;
    }
  }
}

.blurb {
  font-size: 16px;
}
