// main project styling
.image-container {
  height: 51vh;
  width: 100%;

  @media only screen and (min-width: 768px) {
    height: 75vh;
  }
}

.project-info-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.project-content-wrapper {
  padding: 1rem;

  @media only screen and (min-width: 1024px) {
    padding: 2rem;
  }

  .project-info-section {
    @media only screen and (min-width: 768px) {
      display: flex;
      column-gap: 1rem;
    }
  }

  .project-heading {
    font-size: 28px;

    @media only screen and (min-width: 768px) {
      margin-top: 1rem;
      font-size: 36px;
      width: 100%;
    }

    @media only screen and (min-width: 1024px) {
      font-size: 3.125rem;
    }
  }

  .project-description-wrapper {
    font-size: 20px;

    @media only screen and (min-width: 768px) {
      width: 100%;
    }

    @media only screen and (min-width: 1024px) {
      font-size: 24px;
    }
  }
}
