#section-gap {
  height: 101vh;
  position: relative;
  z-index: -1;
}

.section-portfolio {
  display: grid;
  font-family: "Inter", sans-serif;
  justify-content: center;
  row-gap: 7rem;
  position: relative;
  padding: 0 1rem 7rem;
  z-index: 2;

  a {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }
}

// temporary
.show {
  border: 2px solid red;
}

.project-card {
  width: 100%;

  .img-container {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .card-info {
    display: flex;
    justify-content: space-between;
  }
}
