#section-gap {
  height: 101vh;
  position: relative;
  z-index: -1;
}

.section-portfolio {
  display: grid;
  justify-content: center;
  row-gap: 7rem;
  position: relative;
  padding-bottom: 7rem;
  z-index: 2;
}

// temporary
.show {
  border: 2px solid red;
}

.project-card {
  background-color: burlywood;
  height: 18rem;
  width: 18rem;
}
